@media only screen and (min-width: 38rem) {

    
    header img {
        width: 34px;
    }

    header span {
        color: white;
        text-align: left;
        font-size: larger;
    }

    .hambutton {
        display: none;
    }

    .largeNav {
        display: block;
        z-index: 100;
    }

    .largeNav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }
    
    .largeNav a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: .8rem 10px;
        white-space: nowrap;
        color: white;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .hero {
        position: relative;
    }

    .article-mobile {
        display: none;
    }

    .article-large {
        display: block;
        position: absolute;
        top: 50%;
        font-weight: bolder;
        color: white;
    }

    .article-large p {
        font-size: xx-large;
        padding: 10px;
        border-bottom: 1px solid rgb(255, 253, 253);
    }

    .article-large input {
        margin-left: 10px;
        padding: 10px;
        background-color: gold;
    }

    .mobile {
        display: block;
        position: absolute;
        top: 2%;
        right: 2%;
        margin: 0 auto;
        max-width: 200px;
        color: rgb(0, 0, 0);
        background: rgba(255, 192, 110, 0.5);
        margin-bottom: 10px;
    }

    .current-event {
        max-width: 700px;
    }


    .join-button {
        display: none;
    }

    button {
        padding: 10px;
        margin-left: 20px;
        margin-left: 20px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    .apps img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        margin-left: 1rem;
        margin-right: 1rem;
    }


}