* {
    padding: 0;
    margin: 0;
    font-family: "Google sans";
}



header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 10px;
    background-color: navy;
}

header img {
    position: static;
    grid-column: auto;
    width: 34px;
    height: 34px;
    margin: 20px;
}

header span {
    position: static;
    grid-column: auto;
    text-align: center;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: bold;
    color:white;
}

.largeNav {
    display: none;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: .8rem 10px;
    white-space: nowrap;
    color: black;

}

.largeNav li.current {
    border-bottom: 1px solid aqua;
}

.navigation li.current {
    background-color: skyblue;
}

.navigation a:hover {
    background-color: rgb(165, 165, 255);
}

.hambutton {
    position: static;
    grid-column: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 20px;
}

.hambutton::before {
    content: "\2630";
}

.hambutton.show::before {
    content: "✖️";
}

.menu {
    margin: 1rem auto;
    text-align: center;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

.article-mobile {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.article-mobile p {
    display: block;
    font-size: x-large;
    padding: 20px;
}

.article-mobile input {
    height: 50px;
    margin: auto;
    padding: 10px;
    background-color: gold;
}

.article-large {
    display: none;
}

.current-event {
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    border-bottom: 1px solid black;
    background-color: gold;
    border: 2px solid navy;
}

.current-event p {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bolder;
}

.join-button {
    display: flex;
    justify-content: center;
}

.join-button input {
    padding: 10px;
    background-color: gold;
}

.mobile {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    background-color: wheat;
    margin-bottom: 10px;
}

.mobile img {
    display: block;
    margin: auto;
    width: 100px;
    height: auto;
}

.mobile figcaption {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}


button {
    padding: 5px;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

button:hover {
    background-color: rgb(185, 185, 255);
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    align-items: stretch;
    margin-left: 10px;
    margin-right: 10px;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    background-color: gold;
    border: 3px solid navy;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

h2 {
    padding: 20px;
    text-align: center;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}   



p {
    padding: 5px;
    text-align: center;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

.cards img {
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 2px solid black;
}

.grid section > * {
    align-items: stretch;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}


.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: #bbb;
}

.list section h2 {
    margin: 0;
}

.list section p  {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}


footer {
    display: grid;
    padding: 1rem;
    margin-top: 3rem;
    background-color: navy;
}

.directoryAddress p {
    color: white;
    text-align: left;
    padding: 0;
}

.directoryAddress span {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: bold;
    color: white;
}

.footP p {
    text-align: left;
    padding: 0;
    color: white;
}

.apps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.apps img {
    width: 50px;
    height: auto;
}



